@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200&display=swap');

.yerrr-tab-nav {
  display: flex;
  justify-content: space-around;
  position: fixed; /* Change position to fixed */
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Set a higher z-index to ensure it appears above other elements */
  padding-top: 20px;
  padding-bottom: 8px;
  font-size: 18px;
}

.yerrr-tab-link {
  color: #000;
  text-decoration: none;
  padding: 10px;
  margin-right: 5%;
  margin-left: 10%;
}

.yerrr-tab-link:hover {
  color: #00f; /* Blue color when hovered */
}

.yerrr-tab-link.active {
  color: #00f; /* Blue color for the active tab */
}


.user-post-list {
  border: 1px solid;
}

.user-post {
  border: 1px solid;
}

.chat-container {
  width: 100%;
  /* max-width: 600px; */
  margin: 0 auto;

  font-family: Arial, sans-serif;
}



.chat-window {
  height: 70vh;
  overflow-y: auto;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 50px;

}

@media (max-width: 480px) {
  .chat-window {
    height: 60vh;
  }
}
.message {
  margin: 10px;
  padding: 10px;
  border-radius: 18px;
  clear: both;
  line-height: 1.4;
  width: 80%;
  max-width: 500px;
}

.message-info {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.sender-name {
  color: white;
}

.message-time {
  color: #aaa;
  float: right;
}

.message.isSender {
  background-color: #0b93f6;
  color: white;
  float: right;
}

.message:not(.isSender) {
  background-color: #717882;
  color: black;
  float: left;
}


.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.message-form input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 18px;
  border: none;
  width: 25vh;
}

.message-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 18px;
  background-color: rgb(142, 141, 141);
  color: white;
  cursor: pointer;
}

.message-form button:disabled {
  background-color: #ccc;
}

#nvm {
  background-color:rgb(132, 132, 132);
  color: white; 
  border-radius: 5px; 
  font-size: 1rem; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  margin-bottom: 5px;
}

#nvm:hover {
  background-color: #73b0d1; 
}


/* form */
.yerrrForm {
  background-color: #717882;
  padding: 30px;
  max-width: 600px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.yerrrForm form {
  display: flex;
  flex-direction: column;
}

.yerrrForm label {
  margin-bottom: 5px;
  color: white;
}

.yerrrForm input,
.yerrrForm select,
.yerrrForm button {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.yerrrForm input {
  height: 40px;
  outline: none;
  color: white;
  margin-left: 5px;
}

.yerrrForm select {
  margin-left: 20px;
}

.yerrrForm button {
  background-color: rgb(146, 145, 145);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.yerrrForm button:hover {
  background-color: #6d498b;
}

.yerrrForm input::placeholder {
  color: white;
  opacity: 1;
}

/* Media Queries */

@media (max-width: 480px) {
  .yerrrForm {
    padding-left: 10vh;
    padding-right: 10vh;
  }

  .yerrrForm input,
  .yerrrForm select,
  .yerrrForm button {
    width: 100%;
  }

  .yerrrForm button {
    margin-left: 10px;
  }
}


/* now */
.user-post {
  border: none;
  background-color: #717882;
  color: white;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.user-post-list {
  border: none;
}

.user-post-list > div {
  margin-bottom: 10px;
}

.filter {
  margin-top: 12vh;
}

.filter select {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: space-between; /* Add this property */
  align-items: center; /* Add this property */
  margin-bottom: 20px;
}




.user-post-list .user-post button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-right: 2vh;
  margin-left: 2vh;
  align-items: center;
}

.user-post-list .user-post button:hover {
  color: #999;
}

#edit {
  font-size: 15px;
}

/* Media queries */
@media (max-width: 768px) {
  .user-post-list .user-post button {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .user-post-list .user-post button {
    margin-right: 5px;
    margin-left: 5px;
  }
}



