@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200&display=swap');

.yerrr-tab-nav {
  border: 1px solid;
  display: flex;
  justify-content: space-around;
}

.yerrr-tab-link {
  color: black;
  text-decoration: none;
}

.user-post-list {
  border: 1px solid;
}

.user-post {
  border: 1px solid;
}


