

.weOutside-modal {
  width: 400px;
  min-height: 250px; /* Increase the height and use min-height to allow content to grow */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #2B3434;
  border: 3px solid #2B3434;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #b3cbc7be;
}

.weOutside-modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5f0ecd6;
}

.list-container {
  height: 40vh;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 16px;
  /* border: 1px solid #ccc; */
  padding: 8px;
}

.restaurant-item {
  margin-bottom: 16px;
  text-align: center; 
  
}

.map-container {
  width: 100%;
  height: 30vh;
}

.review-image-container {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  height: 600px; /* Adjust the height as per your preference */
  justify-content: center;
}

.restaurant-review {
  width: 400px; /* Adjust the size as per your preference */
  height: 400px; /* Adjust the size as per your preference */
  margin: 10px; /* Adjust the spacing between squares */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.review-image {
  width: 100%;
  /* height: 100%; */ /* looks cleaner, cuts off image */
  object-fit: cover;
}

/* .load-more-button {

}

.loading-more-message {

} */

